@font-face {
    font-family: oswald;
    src: url(./fonts/Oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: oswald-bold;
    src: url(./fonts/Oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: releway;
    src: url(./fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: releway-bold;
    src: url(./fonts/Raleway/Raleway-Bold.ttf);
}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, .footer{
    background: #380e98;
    padding: 1rem 0;
}
.main-content{
    background: #dddddd;
    padding: 1rem 0;
}
.main-heading{
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'oswald';
}
.main-sub-heading{
    font-family: 'roboto';
    font-size: 17px;
    width: 800px;
    margin: auto;
    text-align: center;
    font-weight: normal;
    color: #ffffff;
}
.main-content .main-sub-heading{
    color: #000000;
}
.main-heading span{
    color: #15d612;
}
.header .heading{
    color: #dddddd;
}
.heading{
    font-size: 30px;
    color: #000000;
    font-family: 'releway';
    margin-bottom: .8rem;
    text-align: center;
}
.heading span{
    color: #12c03e;
}
.sub-heading{
    font-size: 17px;
    font-family: 'releway';
    margin: .5rem 0;
}
p{
    font-family: 'roboto';
}
.container{
    max-width: 1250px;
    margin: auto;
}
.footer .heading, .footer .sub-heading{
    color: #ffffff;
    text-align: center;
}
.footer .sub-heading{
    font-size: 15px;
}
.padding-1{
    padding: 1rem;
}
.padding-top-1{
    padding-top: 1rem;
}
.padding-top-2{
    padding-top: 2rem;
}
.main-content ul{
    display: block;
    list-style: none;
    margin-top: 1.5rem;
    max-width: 600px;
}
.main-content ul li{
    margin: .4rem 0;
    font-size: 17px;
    font-family: 'oswald';
}
.main-content ul li span{
    font-weight: bold;
    margin-right: .8rem;
}
.main-content .list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.main-content .img-fluid img{
    max-width: 600px;
    width: 100%;
}
.width-100{
    width: 100%;
}

.main-content .heading, .main-content .sub-heading{
    width: 100%;
    margin: .8rem 0 0 .5rem;
    text-align: center;
}
.main-content .heading{
    margin: 2rem 0 0 .5rem;
}
.img-fluid{
    margin: .8rem 0;
}
.main-content .main-heading{
    font-size: 35px;
    color: #000000;
    margin-top: 1rem;
    width: 100%;
}
.text-center{
    text-align: center;
}

/* ============================== First Page ================================ */
.page-01 .main-content .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.page-01 .main-content .wrapper .box{
    width: 450px;
    margin: 1rem;
    box-shadow: 0 0 5px #000000;
    padding: .5rem;
    border-radius: .5rem;
}
.page-01 .main-content .wrapper .box .img img{
    width: 100%;
}
/* x============================= First Page ===============================x */


@media only screen and (max-width:1280px){
    .container{
        max-width: 87%;
    }
}
@media only screen and (max-width:992px){
    .main-heading{
        font-size: 38px;
    }
    .main-sub-heading{
        font-size: 15px;
        width: 750px;
    }
    .heading{
        font-size: 28px;
    }
    .container{
        max-width: 90%;
    }
}
@media only screen and (max-width:769px){
    .main-heading{
        font-size: 32px;
    }
    .main-sub-heading{
        font-size: 14px;
        width: 100%;
    }
    .heading{
        font-size: 26px;
    }
    .container{
        max-width: 93%;
    }
}
@media only screen and (max-width:550px){
    .main-heading{
        font-size: 28px;
    }
    .heading{
        font-size: 24px;
    }
    .container{
        max-width: 95%;
    }
    .main-content ul li {
        margin: .3rem 0;
        font-size: 14px;
        font-family: 'roboto';
    }
}
@media only screen and (max-width:450px){
    .main-heading{
        font-size: 25px;
    }
    .heading{
        font-size: 22px;
    }
    .container{
        max-width: 97%;
    }
}